@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,231;1,231&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



nav{
    background-color: #222;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    color: aqua;
}
#home{
    background: url(/assets/Fortune-Tiger.jpg) center/ cover no-repeat;
    height: 100vh;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home h1{
    font-size: 50px;
}
#home p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

section{
    padding: 80px 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction:  column;
    max-width: 400px;
    margin: auto;
}
form label{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}
form input, form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:  10px;

}
form button{
    background: #222;
    color:  white;
    padding: 10px;
    cursor: pointer;

}
form button:hover{
    background: rgb(44, 56, 56);
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}